<div class="container">
  <h1>ジャンル編集</h1>
    <div class="row p-4">
      <%= form_with model: @genre, url: admin_genre_path, local: true do |f| %>
      <label>ジャンル名</label>
      <%= f.text_field :name %>
      <%= f.submit '編集完了', class: "btn btn-success" %>
      <% end %>
    </div>
</div>